.dashboard-container{
    padding:30px;
    background:#f5f7fb;
    min-height:100vh;
}

.cards{
    display:flex;
    gap:20px;
    margin-top:30px;
}

.card{
    flex:1;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card h3{
    color:#555;
    margin-bottom:10px;
}

.card h2{
    color:#2563eb;
    font-size:32px;
}