{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Register</title>

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>

<body>

<div class="background">

<div class="register-card">

<div class="logo">
🤝
</div>

<h1>User Registration</h1>

<!-- <p class="subtitle">
AI-Based Donation Management System
</p> -->
<br>
<form id="registerForm">

<input
type="text"
id="username"
placeholder="Username"
required>

<input
type="email"
id="email"
placeholder="Email Address"
required>

<input
type="password"
id="password"
placeholder="Password"
required>

<input
type="text"
id="phone"
placeholder="Phone Number"
required>

<select id="role">

<option value="Donor">Donor</option>

<option value="NGO">NGO</option>

</select>

<button type="submit">

Create Account

</button>

</form>

<p id="message"></p>

<div class="login-link">

Already have an account?

<a href="/login-page/">

Login

</a>

</div>

</div>

</div>

<script src="{% static 'js/register.js' %}"></script>

</body>

</html>